<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.smartmcpproxy.mcpproxy</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/mcpproxy</string>
        <string>serve</string>
        <string>--tray=true</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>ProcessType</key>
    <string>Interactive</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/mcpproxy.out</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/mcpproxy.err</string>
    
    <key>WorkingDirectory</key>
    <string>/Applications</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/user</string>
        <key>SHELL</key>
        <string>/bin/zsh</string>
        <key>HOMEBREW_PREFIX</key>
        <string>/opt/homebrew</string>
        <key>HOMEBREW_CELLAR</key>
        <string>/opt/homebrew/Cellar</string>
        <key>HOMEBREW_REPOSITORY</key>
        <string>/opt/homebrew</string>
    </dict>
</dict>
</plist> 